* {
	transition: all 0.25 ease-in-out;
	font-family: system-ui;
}

body {
	background: url(../images/smash-cover-cut-background.png);
	background-position: center;
	background-size: cover;
	padding: 50px;
	margin: 0;
}

input {
	outline: none;
}

ul {
	list-style-type: none;
	padding: 0;
}

.chat_input {
	width: -webkit-fill-available;
	height: 30px;
	text-align: center;
	margin-right: 5%;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0 2px 5px #999999;
}

.chat_messages_container {
	position: relative;
	max-height: 200px;
	padding: 0 25px;
	margin: auto;
	overflow: scroll;
	border-radius: 15px;
	margin-bottom: 25px;
	background: #7C444C;
	box-shadow: 0 2px 5px #999999;
	opacity: 0.975;
	max-width: 600px;
	min-width: 50%;
}

.chat_messages_container p {
	color: white;
}

.chat_options_container {
	display: inline-flex;
	width: 100%;
	max-width: 600px;
	min-width: 50%;
	margin: auto;

}

.chat_window {
	display: grid;
	width: 100%;
	margin: auto;
}

.game_status {
	width: 100%;
	height: 30px;
	margin: 10px 10px 0 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game_window {
	max-width: 600px;
	margin: auto;
	text-align: center;
	display: flex;
	border-radius: 15px;
	margin-bottom: 25px;
	flex-wrap: wrap;
	background: white;
	box-shadow: 0 2px 5px #999999;
	opacity: 0.975;
}

.option_button {
	height: 36px;
	margin: 9px 0 9px 0;
}

.send_message_button, .option_button {
	width: 150px;
	text-align: center;
	border: 1px solid black;
}

.send_message_button {
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0 2px 5px #999999;
}

.red_wins, .blue_wins {
	font-size: 10px;
}

.red_options, .blue_options {
	width: 50%;
}

.red_option, .blue_option {
	box-shadow: 0 2px 5px #999999;
	border-radius: 50px;
}

.red_option:hover, .blue_option:hover {
	opacity: 0.75;
}

.red_option:active, .blue_option:active {
	border-top: 1px solid;
	box-shadow: 0 1px 2px #999999;
	opacity: 0.25;
}

.red_option {
	border: 1px solid #884545;
	border-top: 4px solid #884545;
}

.blue_option {
	border: 1px solid #454588;
	border-top: 4px solid #454588;
}

::-webkit-scrollbar {
	display: none;
}